<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    {% include head.html %}
  </head>
  <body>
   
    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
          <hr>
          
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
