<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  {% include head.html %}
</head>

<body>
  <div class="container-fluid">
    {% include head-nav.html %}
    <table class="table .table-borderless card-table">
      {% tablerow post in site.posts cols:8 %}
      <div class="card mb-3">
        <img class="card-img-top" src="{{ post.image | default: '/assets/images/post-image-default.jpg' }}" alt="Post Image">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ post.url }}" class="text-decoration-none" target="_blank">{{ post.title }}</a></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">by {{ post.author | default: "浑水摸鱼" }} {{ post.date |
            date:
            "%Y-%m-%d" }}</h6>
          <p class="card-text">{{ post.excerpt | strip_html | strip_newlines | escape | truncate: 100 }}</p>
          <a href="{{ post.url }}" class="btn btn-primary" target="_blank">阅读</a>
        </div>
      </div>
      {% endtablerow %}
    </table>
    {% include foot.html %}
  </div>  
</body>

</html>