<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    {% include head.html %}
   
    <script src={{ '/assets/js/search.js?v=' | append: site.github.build_revision | relative_url }}></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            var query = new URLSearchParams(window.location.search).get('q');
            console.log('Search query:', query);
            if (query) {
                document.getElementById('search-input').value = query;
                window.fetch('/pages/search.json')
                    .then(response => response.json())
                    .then(data => {
                        console.log('Search data:', data);
                        const searchResults = document.getElementById('search-results');
                        const results = data.filter(item => item.title.toLowerCase().includes(query.toLowerCase()));
                        if (results.length > 0) {
                            const html = "<ul class='list-unstyled'>" + 
                                results.map(result => `<li class="mb-3"><a href="${result.url}" class="text-decoration-none" target="_blank">${result.title}</a><p class="text-muted small">${result.excerpt}</p></li>`).join('') 
                                + "</ul>";
                            searchResults.innerHTML = html;
                        } else {
                            searchResults.innerHTML = '<p class="text-center">没有找到相关内容</p>';
                        }
                    });

            }
        });

    </script>

</head>

<body>
    <div class="container-fluid">
        {% include head-nav.html %}

        <div id="search-results" class="mt-4"></div>
        {% include foot.html %}
    </div>
</body>

</html>